<div class="Emart-header">
    <div class="emart-logo">
        E-BAZAR
    </div>
   
     
  
        <div class="Emart--bottom--bar">
            <div class="Emart-menu">
                <a routerLink="Home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a routerLink="Product" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Products</a>
                <a routerLink="About" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">About</a>
                <a routerLink="Contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Contact</a>
             
             
             
            <div class="page-header-login-logout">
                <a routerLink="login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">LOGIN</a>
                <a routerLink="logout" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">LOGOUT</a>
            </div> 
         
        </div>
        </div>
    </div>


       <!-- <button class="btn" routerLink="/login" (click)="OnShopNow()" >Shop Now</button> -->
