<div class="div" style="margin-top: 100px;margin-bottom: 100px;">


<form #myForm="ngForm" (ngSubmit)="OnSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="Name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="Email">

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required [(ngModel)]="Subject">

    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="4" required [(ngModel)]="Message"></textarea>

    <button type="submit">Submit</button>
</form>
    
</div>