.div {
  margin-top: 100px;
  margin-bottom: 100px;
}

form {
  max-width: 500px; /* Adjust maximum width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add padding around the form */
  background-color: #f9f9f9; /* Background color for the form */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Add spacing below labels */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Make input fields and textarea full width */
  padding: 10px; /* Add padding inside input fields */
  margin-bottom: 15px; /* Add spacing below input fields */
  border: 1px solid #ccc; /* Add border */
  border-radius: 3px; /* Add rounded corners */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Button font size */
  border-radius: 3px; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
}

button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
