<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<div class="home-page">
    <div class="banner">
      <div class="container">
        
        <img src="assets/image/banner.jpg" class="img"  alt="">
        <h1>Welcome to our E-mart Store</h1>
        <p>Discover amazing deals on a wide range of products! <br>
          With Amazing Discounts!
        </p>
        <!-- <a href="#" class="btn">Shop Now</a> -->
        <button class="btn" routerLink="/login" (click)="OnShopNow()">Shop Now  </button>
      </div>
    </div>
    
    <div class="featured-products">
      <div class="container">
        <h2>Featured Products</h2>
        <div class="featured-product-image">
        <img src="assets/image/tshirt1.jpg" alt="" class="dress" >
        <div class="dress-details">
      </div>
       
        <img src="assets/image/tshirt2.jpg" alt="" class="dress" >

        <img src="assets/image/one.jpg" alt="" class="dress" >
        <!-- <img src="assets/image/tshirt1.jpg" alt="" class="dress" >
        <img src="assets/image/tshirt2.jpg" alt="" class="dress" >
        <img src="assets/image/one.jpg" alt="" class="dress" > -->
        <!-- <img src="assets/image/tshirt1.jpg" alt="" class="dress" >
        <img src="assets/image/tshirt2.jpg" alt="" class="dress" >
        <img src="assets/image/one.jpg" alt="" class="dress" >
         -->
     <div class="prod-button">
      <button class="btn"  routerLink="/Product"> Go To Products </button>
     </div>
      </div>
      </div>
    </div >
  </div>


